<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Coding Skills</h2>
    <img src="https://raw.githubusercontent.com/IuliaRacovita98/IuliaRacovita98.github.io/master/_includes/girlcoding.jpg" width="100" height="100">
    <p>Used with Android, Java, C++, C, SQL, PL/SQL, C#, HTML and CSS</p>
  </div>
  <div class="tech">
    <h2>Who Am I?</h2>
  <img src="https://raw.githubusercontent.com/IuliaRacovita98/IuliaRacovita98.github.io/master/_includes/whoamijpeg.jpeg" width="200" height="100">
    <p>A teamwork oriented person, open to knew technologies and a continuous learner!</p>
  </div>
  <div class="tech">
    <h2>My Resources</h2>
     <img src="https://raw.githubusercontent.com/IuliaRacovita98/IuliaRacovita98.github.io/master/_includes/resources.jpg" width="200" height="100">
    <p>Git, LinkedIn Learning, Udemy, Stackoverflow</p>
  </div>
</div>
